body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #a6c4f4;
}

#Materi {
  background-color: #a6c4f4;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
